---
import Picture from "../Picture.astro";
import { renderMarkdown } from "../../lib/markdown";
const { image, alt, body, imagePosition, ratio, verticalAlign } = Astro.props;
---
<div
  class:list={[
    "block-columns",
    imagePosition && `image-${imagePosition}`,
    ratio && `ratio-${ratio}`,
    verticalAlign && `valign-${verticalAlign}`,
  ]}
>
  <figure class="col-media">
    {image && <Picture src={image} alt={alt ?? ""} sizes="(max-width: 760px) 100vw, 50vw" />}
  </figure>
  <div class="col-text block-text" set:html={renderMarkdown(body)} />
</div>
