---
import Picture from "./Picture.astro";
const { site, currentPath } = Astro.props;
const align = site.logoAlign ? `brand-${site.logoAlign}` : "";
---
<header class:list={["site-header", align]}>
  <a class="site-brand" href="/" aria-label={site.name}>
    {site.logo
      ? <Picture src={site.logo} alt={site.name} widths={[120, 240, 480]} sizes="200px" />
      : <span class="site-name">{site.name}</span>}
  </a>
  {site.headerNav.length > 0 && (
    <nav>
      {site.headerNav.map((link: any) => (
        <a href={link.url} aria-current={link.url === currentPath ? "page" : undefined}>{link.label}</a>
      ))}
    </nav>
  )}
</header>
