---
import Markdoc from "@markdoc/markdoc";
import Base from "../../layouts/Base.astro";
import Picture from "../../components/Picture.astro";

export const prerender = true;

export async function getStaticPaths() {
  const { reader } = await import("../../lib/site");
  const projects = (await (reader.collections as any).projects?.all()) ?? [];
  return projects.map((p: any) => ({ params: { slug: p.slug }, props: { entry: p.entry } }));
}

const { entry } = Astro.props;
const { node } = await entry.content();
const html = Markdoc.renderers.html(Markdoc.transform(node));
---
<Base title={entry.title}>
  <article>
    <h1>{entry.title}</h1>
    {entry.cover && <Picture src={entry.cover} alt={entry.title} />}
    <div set:html={html} />
    {entry.gallery?.length > 0 && (
      <div class="block-gallery cols-3">
        {entry.gallery.map(
          (item: any) =>
            item.image && (
              <Picture
                src={item.image}
                alt={item.alt ?? ""}
                sizes="(max-width: 760px) 50vw, 240px"
                widths={[320, 640, 960]}
              />
            )
        )}
      </div>
    )}
  </article>
</Base>
